# ⚠ SENSITIVE - nicht ins Git committen!
# Kopiere diese Datei nach `.secret` und setze echte Werte

POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mysecret
FYTA_AUTH_EMAIL=first.last@mail.com
FYTA_AUTH_PASSWORD=topsecret
FYTA_API_BASE_URL=https://web.fyta.de
