name: my-plants

services:
  grafana:
    image: grafana/grafana:${GRAFANA_VERSION:-12}
    container_name: grafana-plants
    env_file:
      - .env
      - .secret
    ports:
      - "192.168.1.16:3000:3000" # Mappt Port 3000 des Containers auf Port 3000 Ihres Hosts
    volumes:
      - ${GRAFANA_DATA_LOCATION}:/var/lib/grafana
    user: "472" # Stellt sicher, dass Grafana mit der korrekten UID läuft (Standard für grafana/grafana)
    restart: always

  postgres:
    image: postgres:${POSTGRES_VERSION:-17}
    container_name: myplants-postgres
    restart: always
    env_file:
      - .env
      - .secret
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data

  plants-core:
    build:
      context: ./plants-core
      dockerfile: Dockerfile
    depends_on:
      - postgres
    restart: always
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
