name: my-plants

services:
  postgres:
    image: postgres:${POSTGRES_VERSION:-17}
    container_name: myplants-postgres
    restart: always
    env_file:
      - .env
      - .secret
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data

  plants-core:
    build:
      context: ./plants-core
      dockerfile: Dockerfile
    depends_on:
      - postgres
    restart: always
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
