<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plant Overview</title>
</head>
<body>
<h1>Plant Overview</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Garden</th>
        <th>Location</th>
        <th>Nickname</th>
        <th>Received</th>
        <th>Battery Low</th>
        <th>Bild</th>
        <th>Plant Thumb</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="plant : ${plants}">
        <!-- Using Elvis operator -->
        <td>
        <div th:text="${objectName?.id}">...</div>
        </td>
        <td>
        <div th:text="${objectName?.commonName}">...</div>
        </td>
        <td>
        <div th:text="${objectName?.gardenName}">...</div>
        </td>
        <td>
        <div th:text="${objectName?.location}">...</div>
        </td>
        <td>
        <div th:text="${objectName?.nickname}">...</div>
        </td>
        <td>
        <div th:text="${objectName?.receivedDataAt}">...</div>
        </td>
        <td>
        <div th:text="${objectName?.sensorIsBatteryLow}">...</div>
        </td>
        <td>
            <img th:src="@{${plantsCoreBaseUrl} + '/proxy/thumb?id=' + ${plant.id}}"
                 width="100"
                 alt="thumb"
                 onerror="this.onerror=null; this.src='/images/placeholder.jpg'" />
        </td>
        <td>
            <img th:src="${plant.plantThumbPath}"
                 width="100"
                 alt="plant thumb"
                 onerror="this.onerror=null; this.src='/images/placeholder.jpg'" />
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
